body {
    background-color: #ffffff;
}
    .container {
        display: inline-block;
        width: 800px;
        margin-top: 100px;
        margin-left: calc(50% - 400px);
    }
        .left {
            display: inline-block;
            width: 50%;
            float: left;
        }
        .right {
            display: inline-block;
            width: 40%;
            float: right;
            border: 1px solid #cccccc;
            border-radius: 20px;
        }
            .form {
                display: inline-block;
                width: 100%;
            }
                .form-row {
                    display: inline-block;
                    width: 100%;
                }
                    .main-title {
                        display: inline-block;
                        width: 100%;
                        text-align: center;
                    }
            .form-bottom {
                display: inline-block;
                width: 100%;
            }